.app{
    background-color: black;
    height: 100%
}
nav ul li{
    font-size: 20px;
    font-weight: 800;
}
.motioned{
    display: flex;
    text-align: center;
    font-weight: 800;
}

.leftSection::after{
    content:'';
    position: absolute;
    top: 50%;
   left:80%;
   height: 80px;
   width: 80px;
    border: 3px solid #dd4cca;
    border-style: double;
    border-top: none;
    border-left: none;
}
.bubble::after{
        content:'';
        position: absolute;
        top: 20%;
       left:60%;
       height: 200px;
       width: 200px;
       border-radius:100px;
       background-image: linear-gradient(to right, #f32170, #9e82f0);
       opacity: 0.3;
       
}
/* .leftSection::before{
    content:'';
    position: absolute;
    top: 13%;
   left:10%;
    height: 80px;
    width: 80px;
    border-style: double;
    border: 2px solid #dd4cca;
    border-bottom: none;
    border-right: none;
} */
.leftSection h5,.section-title span, .contSpan{
    background: linear-gradient(to right, #f32170, #9e82f0);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
 .btn{
   background-image: linear-gradient(to right, #f32170, #9e82f0)
}

.navpro{
    background:  transparent;
    color:white;
    border: none;
    width:200px;
    text-align: center;
    border-radius: 15px;
    padding: 4px 5px;
    transition: all 0.02s ease;
}
.active{
    background:  white;
    color:black;
  
}

input,textarea{
    background-color: #111111;
    color:#fff;
    padding: 10px;
}
.imageProfile img{
    width:100px;
    padding: 15px;
    border-radius:50px;
    background-color: #111111;
}
.socials{
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    padding: 15px;
    color:#dd4cca;
    transition: all 0.2s;
}
.socials:hover{
    background-image: linear-gradient(to right, #f32170, #9e82f0);
    color: #fff;
}
.imageSkill img{
  width:100px;
  height: 100px;;
}

.visit{
    padding: 4px ;
    border-radius: 15px;
    background-image: linear-gradient(to right, #f32170, #9e82f0);
}
.development{
    background-color: #111111;
    border-radius: 15px;
    padding: 5px;
    font-size: 1rem;
}

.projects::before, .projects::after, .contacts::after, .contacts::before{
    content: '~~~~';
    background: linear-gradient(to right, #f32170, #9e82f0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.services::before{
    content: '';
    position: relative;
    top: 10%;
    left: -50%;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    opacity: 0.4;
    background-image: linear-gradient(to right, #f32170, #9e82f0);
}
.services::after{
    content: '';
    position: absolute;
    top: 105%;
    left: 80%;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    opacity: 0.4;
    background-image: linear-gradient(to right, #f32170, #9e82f0);
}

@media screen and (max-width:640px){
    #home, #about, #skills, #contacts{
      padding-left: 10px;  
      padding-right: 10px;
    }
    .bubble::after{
       height: 130px;
       width: 130px;
}
.services::after{
    top: 100%; 
    left: 79%;
}
.leftSection::after{
   left:75%;
}
.ulProjects{
    display: flex;
}
.navpro{


   
    width:100px;
    text-align: center;
    
  
    border-radius: 15px;
    padding: 4px 5px;
  
}
    
}